/*
	UN id: 17421492
*/
/* Import website font */
@import url('https://stockfont.org/?063aca486bb1239f6dd681567e68118e98e4f84b0c323a23f12e1bceea7510d9');

* {margin: 0; padding: 0;list-style: none;}

nav ul ul {overflow: hidden; position: absolute; display: block; background-color: #333; width: 200px; margin-left: 20px; max-height: 0px; -webkit-transition: max-height 0.5s; transition: max-height 1s;}

nav li:hover ul {  max-height: 500px;}
nav ul ul li {float: none; width: auto; }

html {font-family: 'Oxygen-Regular', times, verdana, sans-serif; }

body {background-color: #fff;}
header {background-color: #778baf
; color: white;

height: 200px;

}



nav {width: 100%; background-color: #333; overflow: auto;}
nav ul {width: 1000px; margin: auto; display: block; list-style-type: none;}
nav ul li {width: 20%; float: left; overflow: auto; text-align: center;}
nav a {color: white; padding-top: 10px; display: block; text-decoration: none;}

header section {  display: block;}

header h1 {font-weight: bold; font-style: italic;}


h1 { font-size:4em; color: white; text-align: center; padding-top: 20px; text-shadow: 2px 2px 2px #000;}

main {min-height: 50vh; background-color: #ddd; width: 70vw; display: block; margin: auto; box-shadow: 0px 0px 10px #888; color:#444;}

main h2 {font-size:2em;}
.home {padding: 5vw; width: 60vw;}

li {margin-bottom: 1em;}
p, h2{
	margin: 1em;
}
ol {margin-left: 30px;}

pre {margin-top: 20px;}
code {background-color: #ccc;}
pre code {display: block;}
#signText{
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
}
footer {background-color: #ccc; padding: 10px;}

form {padding-top: 1em; margin-top: 1em; border-top: 1px solid #888;}
form input, form textarea {border-radius: 5px;}
form select, form label, form input{float: left; width: 200px; padding: 10px; margin-top: 20px;}
form label {clear: left;}
textarea {height: auto; margin: 10px;}
form input[type="text"], form input[type="password"], textarea {color: #999; font-family: verdana, sans-serif}
input[type="submit"] {clear: both; margin-left: 220px; width: 220px; margin-bottom: 20px; background-color: #009610;
	font-weight: bold; font-size: 20px;}
#terms{
	font-weight: bold;
	width: auto;
}
input[type=checkbox]{
	width: auto;
}
section a {color: #444;}

form select {width: 220px;}
table {width: 100%; margin-top: 20px;}
td {padding: 5px; border-bottom: 1px solid #333;}

.jobs {list-style-type: none}
.jobs strong {width: 150px; float:  left; clear: left;}
.jobs p {width: 500px; float: left;}

.jobs li {padding-top: 20px; padding-bottom: 20px; border-bottom: 2px solid #aaa; overflow: auto}
.jobs a {float: right; clear: both;}

img.shop {width: 800px;}

.stock, .admin {display: table;}
.stock > ul, .admin .left { width: 10vw; list-style-type: none; display: table-cell; padding: 10px; background-color: #555; margin: 0;}

.stock .products, .admin .right {display: table-cell; padding: 20px;}

.stock > ul a, .admin .left a {color: white; text-decoration: none;}

table td input[type="submit"] {margin: 0; float: right; width: auto; padding: auto;}

ul {margin-left: 2em;}

body > img {display: block; width: 100%;}


main {display: table;}
main > article {display: table-cell; padding: 2em;}
main > nav {display: table-cell; width: 20%; padding: 2em;}
main > nav li {float: none; width: auto; text-align: left;}
main > nav ul {width: auto;}
#newsContent{
	overflow: hidden;
	height: 40px;
}
button{
	margin: 20px;
	float:right;
}
#btnSearch{
	float: none;
}
.empty{
	animation: emptyField 1s;
}
@keyframes emptyField{
	33%{
		transform: translateX(-10px);
		transition: transform ease-in-out;
	}
	66%{
		transform: translateX(10px);
		transition: transform ease-in-out;
	}
	100%{
		transform: translateY(0px);
		transition: transform ease-in-out;
	}
}	
